body {
  /* TODO: font*/
  font-family: "Roobert","Inter","Helvetica Neue","Helvetica","Arial",sans-serif;;
  background-color: rgba(245, 245, 220, 0.55);
}

#chords, #scales {
  max-width: 30rem
}

#chords {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#scales {
  margin: 2rem auto;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: #333;
  text-align: center;
}

.jtab {
  height:118px;
}
/*.jtab.chordonly {*/
/*  height:118px;*/
/*}*/
/*.jtab.tabonly {*/
/*  height:100px;*/
/*}*/
